@font-face {
    font-family: "MR";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MS";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "MBI";
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "MB";
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
}